:root {
  --area-gradient-base: var(--color-primary-50);
  --illustration-contour: var(--color-muted-900);
}

.dark {
  --area-gradient-base: var(--color-muted-900);
  --illustration-contour: var(--color-muted-600);
}
